<!DOCTYPE html>
<html>
    <head>
        <title>Tamagotchi</title>
    </head>
    <body>
        <p>{{ pet.name }} died.</p>
        <form action='/delete' method='post'>
            <button type='submit'>Try again</button>
        </form>
    </body>
</html>
